---
layout: base
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />

    <style>
      #chartdiv {
        width: 100%;
        height: 600px;
      }
    </style>

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/wc.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

    <script>
      am5.ready(function () {
        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("chartdiv");

        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([am5themes_Animated.new(root)]);

        // Add wrapper container
        var container = root.container.children.push(
          am5.Container.new(root, {
            width: am5.percent(100),
            height: am5.percent(100),
            layout: root.verticalLayout,
          })
        );

        // Add series
        // https://www.amcharts.com/docs/v5/charts/word-cloud/
        var series = container.children.push(
          am5wc.WordCloud.new(root, {
            categoryField: "tag",
            valueField: "weight",
            calculateAggregates: true, // this is needed for heat rules to work
          })
        );

        // Set up heat rules
        // https://www.amcharts.com/docs/v5/charts/word-cloud/#Via_heat_rules
        series.set("heatRules", [
          {
            target: series.labels.template,
            dataField: "value",
            min: am5.color(0xffd4c2),
            max: am5.color(0xff621f),
            key: "fill",
          },
        ]);

        // Configure labels
        series.labels.template.setAll({
          paddingTop: 5,
          paddingBottom: 5,
          paddingLeft: 5,
          paddingRight: 5,
          fontFamily: "Courier New",
          cursorOverStyle: "pointer",
        });

        // Data from:
        // https://insights.stackoverflow.com/survey/2021#section-most-popular-technologies-programming-scripting-and-markup-languages
        series.data.setAll([
          { tag: "RUST", weight: 70 },
          { tag: "Python", weight: 70 },
          { tag: "Git", weight: 50 },
          { tag: "Docker", weight: 50 },
          { tag: "CUDA", weight: 50 },
          { tag: "C/C++", weight: 40 },
          { tag: "AI", weight: 40 },
          { tag: "C#", weight: 40 },
          { tag: "GLSL", weight: 40 },
          { tag: "Assembly", weight: 40 },
          { tag: "Rabbit MQ", weight: 40 },
          { tag: "JIT", weight: 40 },
          { tag: "JavaScript", weight: 30 },
          { tag: "HTML/CSS", weight: 30 },
          { tag: "DevOps", weight: 30 },
          { tag: "CI/CD", weight: 30 },
          { tag: "FastApi", weight: 30 },
          { tag: "embassy", weight: 30 },
          { tag: "embedded", weight: 30 },
          { tag: "numpy", weight: 30 },
          { tag: "SciPy", weight: 30 },
          { tag: "Rocket", weight: 30 },
          { tag: "PostgreSQL", weight: 30 },
          { tag: "Protobuf", weight: 30 },
          { tag: "drivers", weight: 30 },
          { tag: "THREE.js", weight: 30 },
          { tag: "Scikit-learn", weight: 30 },
          { tag: "Bevy", weight: 30 },
          { tag: "gRPC", weight: 30 },
          { tag: "Discord", weight: 20 },
          { tag: "Telegram", weight: 20 },
          { tag: "Tornado", weight: 20 },
          { tag: "Async", weight: 20 },
          { tag: "Drones", weight: 20 },
          { tag: "Numba", weight: 20 },
          {
            tag: "If you are reading this, you are very attentive",
            weight: 20,
          },
          { tag: "REST", weight: 20 },
          { tag: "shaders", weight: 20 },
        ]);
      }); // end am5.ready()
    </script>
  </head>
  <body>
    <header>
      <div class="header-content">
        <div class="employee-info">
          <div>
            <h1 class="name">{{ site.data.author.name }}</h1>
            <h2 class="job-title">{{ site.data.author.title }}</h2>
          </div>
        </div>
        <img src="Photo.png" alt="A beautiful sunset" />
      </div>
    </header>

    <main>
      <!-- prettier-ignore-start -->
      {{ content }}

      <!-- prettier-ignore-end -->

      <h2>Career History</h2>
      {% for job in site.data.jobs %}
      <div class="job">
        <div class="title">{{ job.title }}</div>
        <div class="details">
          <div class="company">{{ job.company }}</div>
          <div class="dates">{{ job.dates }}</div>
        </div>
        <div class="address">{{ job.address }}</div>
        <a href="{{ job.site }}">{{ job.site }}</a>
        <div class="company-description">{{ job.description }}</div>
        <h3 class="project-titile">Projects:</h3>
        <div class="projects">
          {% for project in job.projects %}
          <div class="project">
            <h3 class="project-header">{{ project.title }}</h3>
            <div class="description">{{ project.description }}</div>
            <div class="technology-stack">
              {% for stack in project.stack %} {% if stack == "Python" %}
              <div class="technology python">{{ stack }}</div>
              {% else %}
              <div class="technology">{{ stack }}</div>
              {% endif %} {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      <hr />

      <h2>Open Source Projects</h2>
      {% for project in site.data.open_source %}
      <div class="job">
        <div class="title">{{ project.title }}</div>
        <div class="details">
          <div class="company">{{ project.description }}</div>
          <div class="dates">Status: {{ project.status }}</div>
        </div>
        <b><em>Links:</em></b>
        <ul>
          {% for link in project.links %}
          <li><a href="{{ link.url }}">{{ link.verbose }}</a></li>
          {% endfor %}
        </ul>
        <div class="description">{{ project.long_description }}</div>
        <div class="technology-stack">
          {% for stack in project.stack %} {% if stack == "Python" %}
          <div class="technology python">{{ stack }}</div>
          {% elsif stack == "Rust" %}
          <div class="technology python">{{ stack }}</div>
          {% else %}
          <div class="technology">{{ stack }}</div>
          {% endif %} {% endfor %}
        </div>
      </div>
      {% endfor %}
      <hr />

      <h2>Education</h2>
      {% for education in site.data.education %}
      <div class="job">
        <div class="title">{{ education.title }}</div>
        <div class="address">{{ education.address }}</div>
        <a href="{{ education.site }}">{{ education.site }}</a>
        <div class="details">
          <div class="company">{{ education.graduate }}</div>
          <div class="dates">{{ education.dates }}</div>
        </div>
      </div>
      {% endfor %}
      <hr />

      <h2>Technology Cloud</h2>
      <div id="chartdiv"></div>
      <hr />
    </main>
  </body>
</html>
